@{
    ViewData["Title"] = "Cookies Policy";
}
    <div class="results-container">
        <h1>@ViewData["Title"]</h1>

        <p><span>In compliance with Law 34/2002, of July 11, on Information Services and Electronic Commerce, this website informs you about the policy of collecting and processing cookies.</span></p>
        <p><strong><span>What is a cookie?</span></strong></p>
        <p><span>A cookie is a file that is downloaded to a computer while browsing a certain website. Cookies allow a web site, among other things, to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information they contain and the way they use their equipment, they can be used to recognize to user.</span></p>
        <p><strong><span>What types of cookies are there?</span></strong></p>
        <p><span>There are different types of cookies depending on the different criteria:</span></p>
        <p><strong><span>Depending on the ownership:</span></strong></p>
        <p><span>- <strong>Own cookies:</strong> Those that belong to the entity that manages the domain that provides the requested service.</span></p>
        <p><span>- <strong>Third-party cookies</strong>: Those that are owned by a third party, different from the entity that manages the domain that provides the service requested by the user, and who will be the one who processes the information collected or those that are treated by a third party.</span></p>
        <p><strong><span>Depending on the time they remain active in the terminal or device:</span></strong></p>
        <p><strong><span>- Session Cookies:</span></strong><span> These are cookies that are generated to collect and store browsing data while the user accesses a web site. They remain active until the page is abandoned and the browser is closed, so that by restarting the browser and revisiting the web site, the web site does not recognize the user.</span></p>
        <p><strong><span>- Permanent cookies:</span></strong><span> These are cookies that are stored in the terminal equipment and can be accessed during the period of time defined by the entity that manages the cookie. These files will remain in the computer until they are deleted manually or the browser deletes them according to the established period of the cookie, which can be from a few minutes to several years.</span></p>
        <p><strong><span>Depending on its purpose:</span></strong></p>
        <p><strong><span>- Technical cookies:</span></strong><span> These are strictly necessary for the proper functioning of a web page. They are generated when the user accesses or initiates session in the site and they are used to identify it during their navigation in the site and to check if they are authorized to access services or restricted areas of the website.</span></p>
        <p><strong><span>- Personalization cookies:</span></strong><span> These are cookies that allow the user to customize some functions or contents of the website according to the characteristics defined in his terminal or by himself when accessing the site.</span></p>
        <p><span>&nbsp;</span></p>
        <p><strong><span>- Analysis Cookies:</span></strong><span> Cookies that allow the person responsible for them to monitor and analyze the user's behavior when they connect to a website. They allow to quantify the number of users and perform statistical analyzes on the use of the site in order to improve the services offered.</span></p>
        <p><strong><span>- Advertising cookies:</span></strong><span> These are those that allow managing, in the most efficient way possible, the offer of advertising spaces that are presented on a website based on criteria such as content or the frequency with which the ads appear.</span></p>
        <p><strong><span>- Behavioral advertising cookies:</span></strong><span> These are those that allow managing, in the most efficient way possible, the offer of advertising spaces that are presented on a website. These cookies store information on the behavior of users extracted by the continuous observation of their browsing habits. In this way, a navigation profile is developed and advertising is shown depending on it.</span></p>
        <p><span>&nbsp;</span></p>
        <p><strong><span style="text-decoration: underline;">What kind of cookies does this website use</span></strong><strong><span>?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong></p>
        <p><span>&nbsp;OWN COOKIES</span></p>
        <table>
            <tbody>
                <tr>
                    <th>
                        <span>COOKIE</span>
                    </th>
                    <th>
                        <span>DATE OF EXPIRY</span>
                    </th>
                    <th>
                        <span>PURPOSE</span>
                    </th>
                    <th>
                        FUNCTIONALITY AFFECTED IN CASE OF DEACTIVATION
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>ARRAffinity</p>
                    </td>
                    <td>
                        <p>1 Year</p>
                    </td>
                    <td>
                        <p>Hosting server affinity</p>
                    </td>
                    <td>
                        <p>Loss of hosting functionality</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>.AspNet.Consent</p>
                    </td>
                    <td>
                        <p>1 Year</p>
                    </td>
                    <td>
                        <p>Consent to the use of cookies</p>
                    </td>
                    <td>
                        <p>Notify the user of the use of cookies</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>firstTimeVisit</p>
                    </td>
                    <td>
                        <p>Never</p>
                    </td>
                    <td>
                        <p>Stores if it is the first visit to the website</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <p><span>&nbsp;</span></p>
        <p><span>&nbsp;THIRD-PARTY COOKIES</span></p>
        <table>
            <tbody>
                <tr>
                    <th>
                        <span>COOKIE</span>
                    </th>
                    <th>
                        <span>DATE OF EXPIRY</span>
                    </th>
                    <th>
                        <span>PURPOSE</span>
                    </th>
                    <th>
                        FUNCTIONALITY AFFECTED IN CASE OF DEACTIVATION
                    </th>
                </tr>
                <tr>
                    <td>ai_session</td>
                    <td>1 Hour</td>
                    <td>Session Cookie for Azure Application Insights</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;ai_user</td>
                    <td>1 Year</td>
                    <td>Helps to collect statictical usage and telemetry information for apps built on the Azure cloud platform</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>2 Years</td>
                    <td>Google Analytics tracking ID</td>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>1 Day</td>
                    <td>Google Analytics tracking ID</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;_gat</td>
                    <td>1 Day</td>
                    <td>Google Analytics tracking</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <p><span>&nbsp;</span></p>
        <p><span>Users may reject the processing of such data or information by rejecting the use of Cookies by selecting the appropriate settings for this purpose in their browser.</span></p>
        <p><span>You can allow, block or delete the cookies installed on your computer by configuring the browser options installed on your computer.</span></p>
        <p><span>In the following links you will get information about the most common browsers:</span></p>
        <p><span>&nbsp;</span></p>
        <p><span>• For more information on the <span style="text-decoration: underline; color: red;">Chrome</span> browser <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=es">click here</a><span style="color: red;">&nbsp;</span></span></p>
        <p><span>• For more information about the <span style="text-decoration: underline; color: red;">Explorer </span>browser<span style="color: red;"> </span><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">click here</a></span></p>
        <p><span>• For more information on the <span style="text-decoration: underline; color: red;">Firefox </span>browser <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias">click here</a></span></p>
        <p><span>• For more information on the <span style="text-decoration: underline; color: red;">Safari</span> browser&nbsp;<a href="https://support.apple.com/kb/PH21411?locale=es_ES">click here</a></span></p>
        
        <p>Last modified: 24 of april of 2019</p>
    </div>