@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="results-container">
        <h1>@ViewData["Title"]</h1>

        <p>
            Global Azure Bootcamp, informs all users that all the technical and organizational measures required by current legislation
            on the Protection of Personal Data and Regulation (UE) 2016/679 of the European Parliament and of the Council of 27 April 2016 to maintain the
            security of the personal data provided and thus avoid its possible loss, destruction or access by unauthorized personnel.
        </p>
        <h3>CONTACT INFORMATION</h3>
        <ul>
            <li>Data Controller: Global Azure Bootcamp</li>
            <li>E-mail: global@azurebootcamp.net</li>
        </ul>

        <h3>PRINCIPLE INFORMATION</h3>
        <p>PURPOSE: The personal data provided to Global Azure Bootcamp in this website, will be used for the following purpose:</p>
        <ul>
            <li>Contact forms, sending information and communications about inquiries made through contact form or by e-mails of Global Azure Bootcamp.</li>
            <li>Where appropriate sending communications about events, sponsorships, training content, swag and initiatives of a similar nature.</li>
            <li>User registration in order to provide support on the local events management</li>
        </ul>
        *Category of treated data: The data that we can treat for the purposes described in this Privacy Policy are:
        <ul>
            <li>Name</li>
            <li>Surname</li>
            <li>Language of preference</li>
            <li>E-mail</li>
            <li>Telephone number</li>
            <li>Postal address</li>
        </ul>
        <p>
            The personal data provided by our users must be adequate, relevant and not excessive in relation to the scope and the specific,
            explicit and legitimate purposes for which they were obtained.
        </p>
        <p>
            The user will be the solely responsible for the veracity and accuracy of the data provided. The user will personally respond to
            Global Azure Bootcamp in front of the affected or interested ones and before the EU Agency of Protection of Data in the case of
            providing false data or of third people without their consent.
        </p>
        <p>
            Likewise, it is reported that the data provided in the contact forms must be filled in voluntarily with the exception of those data
            that appear as mandatory. If the mandatory data required is not provided, the management of the request cannot be guaranteed.
        </p>
        <p>
            The recipient of the service undertakes to communicate to Global Azure Bootcamp, the changes that occur in their data, so that they
            respond with truth to their current situation at all times.
        </p>
        <p>
            <strong>Treatment data of underage:</strong> Global Azure Bootcamp, will not collect data from people under age without the authorization
            of their father, mother or legal guardian. In the case that an underage person completes the contact forms and the authorization is not
            accredited, the application will be destroyed without addressing its content.
        </p>
        <p>
            <strong>Information about Cookies:</strong> In accordance with the GDPR of direct application and mandatory compliance as of 25 May 2018,
            users are informed that this website uses Google Analytics cookies whose features are included in
            <a asp-controller="Home" asp-action="Cookies">Cookies Policy</a>. It is a tool that helps the owners of websites to measure how users interact
            with the content of the site. You can Access the information in the Google Analytics Privacy Policy:
        </p>
        <p>
            https://www.google.com/analytics/learn/privacy.html?hl=es
        </p>
        <p>
            Google LLC complies with the security guarantees regarding data protection (adhered to the privacy agreement between the EU and the US “Privacy Shield”)
        </p>
        <p>
            Global Azure Bootcamp, in no case will use the personal data collected for other purposes that have not been mentioned.
        </p>
        <p>
            <strong>LEGITIMATION:</strong> The legal basis in the processing of your data is your express consent to request information about our products
            and services, job applicant, as well as for the execution of the contracted services. The consent for the processing of personal data provided
            in the contact forms will be understood to be provided expressly, freely and unequivocally for the purposes described, with the marking of the
            boxes specified therein. In the reception of e-mails, the consent given in what the user has requested will be understood, for any other service
            their consent will be requested.
        </p>
        <p>
            <strong>Commercial communications:</strong> Your consent for the sending of commercial communications by electronic means (mail) or other means
            of equivalent communication, offered by Global Azure Bootcamp, checking the corresponding boxes in the contact and registration forms, subscribing
            by inserting your address in the corresponding field, or by request of express consent.
        </p>
        <p>
            In your case, if you do not wish to receive information about the products and services we offer in Global Azure Bootcamp you can request your
            cancellation by sending an e-mail to global@azurebootcamp.net or clicking on the link provided in the commercial communication for that purpose.
        </p>
        <p>
            <strong>TERM OF CONSERVATION:</strong> Your data will be stored during the following deadlines:
            <ul>
                <li>Contact forms: up to revocation of your consent.</li>
                <li>Commercial communications: up to revocation of your consent.</li>
                <li>User registration: while the commercial relationship lasts, and in any case for the established legally period.</li>
            </ul>
        </p>
        <p>
            <strong>RECIPIENTS:</strong> Global Azure Bootcamp will not transfer personal data to other third parties except legal obligation. If in the future
            Global Azure Bootcamp make other assignments of personal data, will inform timely.
        </p>
        <p>
            With our processors, there is a contract in accordance with current regulations on data protection for compliance with the guarantees of protection
            of personal data. The hosting of the servers of this website is within the territory of the European Union. The transfer of data internationally is
            not contemplated.
        </p>
        <p>
            <strong>APPLICATION FOR THE EXERCISE OF LEGALLY ESTABLISHED RIGHTS:</strong> In accordance with the current regulations of Regulation (EU) 2016/679
            of the European Parliament and of the Council of 27 April 2016, of direct application and mandatory compliance starting on 25 May 2018,
            all users / interested parties may exercise their rights with the following denomination:
        </p>
        <ul>
            <li>Access right to have knowledge of the data that is being processed by Global Azure Bootcamp</li>
            <li>Right to rectify incomplete or inaccurate data.</li>
            <li>Right of opposition to oppose the processing of data.</li>
            <li>Right of cancellation to cancel or delete personal data.</li>
            <li>
                Right of portability, the interested party will have the right to receive the personal data that concern him, that has been provided to a data
                controller, in a structured format, of common use and mechanical reading, and to transmit them to another controller without preventing it the
                person responsible to whom it was given.
            </li>
            <li>Limitation of treatment to limit treatment.</li>
            <li>Limit automated individual decisions so as not to be subject to individualized decisions.</li>
        </ul>
        <p>
            To exercise the aforementioned rights, you can send us your request, by means of a document that proves your identity, addressed to the contact
            Global Azure Bootcamp – E-mail: global@azurebootcamp.net
        </p>
        <p>
            Global Azure Bootcamp must answer the request for the exercise of rights within one month of your request. The term may be extended to two months
            taking into account the complexity and the number of applications. Global Azure Bootcamp will inform the interested party of any such extension
            within one month of receipt of the request, stating the reasons for the delay. When the interested party submits an application electronically,
            the information will be provided by electronic means when possible, unless the interested party requests that it be provided by other means.
        </p>
        <p>
            In the case of not having obtained satisfaction in the exercise of their rights, you can file a claim with the Control Authority (EU Agency for
            Data Protection).
        </p>
        <p>You can revoke your consent at any time by sending an email to Global Azure Bootcamp</p>
        <h3>SOCIAL NETWORKS</h3>
        <p>We use social networks such as adding Twitter, Facebook and LinkedIn in order to publish information of interest to our users.</p>
        <h3>MODIFICATION TO THE PRIVACY POLICY</h3>
        <p>
            Global Azure Bootcamp, may modify this Privacy Policy when necessary in accordance with current applicable regulations. All the modifications will
            be published with the purpose of keeping the users always informed.
        </p>
        <p>Last modified: 24 of april of 2019</p>
    </div>